// Colors
$Highlight: #D75813;
$Light: #f3f3f3;
$Dark: #1C1F24;
$BackgroundColor: #000;
$Foreground:darken($Dark,10%);
$Container: #1c1f24;
$DimText: #E4E7E3;
$Color1: #51A1A7;
$Color2: #6383C4;
$Color3: #8C5F8C;

$MinWidth: 440px;
$PrimaryFont: 'Magra', sans-serif;
$NumbersFont: 'Roboto Condensed', sans-serif;
